<html>

OpenFire admin console - <a href="http://meow.infiniterecursion.com.au:9090/">http://meow.infiniterecursion.com.au:9090/</a>
<br/>
Django admin console - <a href="http://meow.infiniterecursion.com.au/admin/">http://meow.infiniterecursion.com.au/admin/</a>
<br/>


Github source <a href="http://www.github.com/andycat/MEOW/">http://www.github.com/andycat/MEOW/</a>
<br/>
Ohloh project page <a href="https://www.ohloh.net/p/meowproject">https://www.ohloh.net/p/meowproject</a>
<br/>
Middle-ware API (json-rpc) docs <a href="http://meow.infiniterecursion.com.au/docs/">http://meow.infiniterecursion.com.au/docs/</a>
<br/>
<hr/>

<br/>
Ohloh automatic stats
<br/>
<script type="text/javascript" src="http://www.ohloh.net/p/485496/widgets/project_basic_stats.js"></script>
<br/>

<script type="text/javascript" src="http://www.ohloh.net/p/485496/widgets/project_factoids.js"></script>
<br/>

<script type="text/javascript" src="http://www.ohloh.net/p/485496/widgets/project_cocomo.js"></script>
</br>

</html>
